body
{
    background-color:#1E90FF;
}
.main
{
    background-color: #1E90FF;
    box-sizing: border-box;
    border-color:black;
    position:absolute;
    top:210px;
    left:450px;
    width:385px;
    height:350px;
   display: block;    
}
.main h2
{
    display: block;
    text-align: center;
    font-size: 14pt;
    font-family: Verdana;
}
.main label
{
    position: absolute;
    padding:10px;
    font-weight: bold;
    font-size: 11pt;
}
.main input[type="text"],select 
{
    margin-left: 15em;
    padding:6px;
    width:70%;
    margin-bottom: 5px;
}
.main textarea 
{
    margin-left: 15.5em;
    padding:6px;
    width:70%;
    margin-bottom: 5px;
}

.main h6
{
    margin-left: 5em;
    padding:6px;
}
.main input[type="submit"]
{
    position: absolute;
    top:400px;
    left:200px;
    padding:5px 15px; 
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    
    
}
.main button
{

    padding:5px 15px; 
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    margin-left: 10em;
}