{%include "includes/base_header.html"%}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/base.css')}}">
    </head>
    <body>
        <div class="main">
        <h2>Update Patient</h2>

        <form method="POST">
                <label for="patientssn">Patient ID*</label>
                <input name="patientssn" type="text" value="{{p.patientid}}" required>
                <input id="bb" type="submit" name="geta" value="GET">


               <label for="patientname">Patient Name</label>
                <input name="patientname" type="text" value="{{p.patientname}}"><br>

                <label for="patientAge">Patient Age</label>
                <input name="patientAge" type="text" value="{{p.patientage}}"><br>

                <label for="dateofadmission">Date of Admission</label>
                <input name="dateofadmission" type="text" value="{{p.patientdoj}}"><br>

                <label for="typeofbed">Type of Bed</label>
                <select name="typeofbed">
                    
                    {%if w %}
                    <option value="{{p.patientbed}}"  selected>{{p.patientbed}}</option>
                    <option value="General Ward">General Ward</option>

                    <option value="Semi Sharing">Semi Sharing</option>
                    <option value="Single room">Single room</option>
                    {% else %}
                    <option value="Select">Select</option>
                    <option value="General Ward">General Ward</option>

                    <option value="Semi Sharing">Semi Sharing</option>
                    <option value="Single room">Single room</option>
                    {% endif %}
                    </select><br>
                <label for="Address">Address</label>
                <textarea rows="4" cols="50" name="Address" >
                    {{p.patientaddress}}
                </textarea><br>
                <label for="state">State</label>
                <select name="state">
                    {% if w %}
                    <option value={{p.patientstate}} selected >{{p.patientstate}}</option>
                    <option value="Karnataka">Karnataka</option>

                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    {% else %}
                    <option value="Select" >Select</option>
                    <option value="Karnataka">Karnataka</option>

                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    {% endif %}
                </select><br>
                <label for="city">City</label>
                <select name="city">
                    {% if w %}
                    <option value={{p.patientcity}} selected>{{p.patientcity}}</option>
                    <option value="Bangalore">Bangalore</option>

                    <option value="Vijayawada">vijayawada</option>
                    <option value="Chennai">Chennai</option>
                    {% else %}
                    <option value="Select">Select</option>
                    <option value="Bangalore">Bangalore</option>

                    <option value="Vijayawada">vijayawada</option>
                    <option value="Chennai">Chennai</option>
                    
                    {% endif %}
                </select>
                <h6> * is Mandatory</h6>
                <input  type="submit" id="dev" name="updatea" value="update">
    
        </form>
    
 
        
        </div>
    </body>
</html>
